* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
    font-style:normal;
}

html {
    scroll-behavior: smooth;
}


:root {
    --clr-primary : rgb(88, 87, 87);

}


span, .second-display-block {
    background-color: var(--clr-primary);
}




.parent-of-details {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: var(--clr-primary);;
    color: white;
    font-weight: 600;
    font-size: 1.6rem;
    padding: 0.1em 0;
    font-family: 'EB Garamond', serif;
}


.details-first-child , .second-display-block{
    color: rgb(255, 255, 255);

}

.icons-parent> a > i {
    background-color: var(--clr-primary);

    z-index: 100;
    font-size: 1.5em;
}

.icons-parent> a {
    background-color: var(--clr-primary);
    font-size: 2.3rem;
    padding: 0 0.1em;
}

.ul {
    padding: 1em 0;
    border-bottom: 6px solid rgb(88, 87, 87);
    
}
nav {
    position: relative;
    
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.7rem 0;

}

nav > .fa-bars {
    display: none;
}

nav > ul > li {
    list-style-type: none;
}

nav>ul>li>a {
    font-size: 2rem;
    text-decoration: none;
    font-weight: 600;
    text-transform:capitalize;
    font-family: 'EB Garamond', serif;
}

nav>ul>li>a::after {
    content: "";
    display: block;
    width: 0%;
    height: 3px;
    transition: ease-in-out 0.3s;
}

nav>ul>li>a:hover::after {
    background-color: black;
    width: 100%;
    text-align: center;
}






/* finished */


/* paslaugos */

.paslaugos-main {
    position: relative;
    padding: 0 1em;
    margin: auto;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.8) 80%), url(/servizas/img/pexels-photo-3806249.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}

.paslaugos-main > .paslauga-top-h1 {
    padding-top: 1em;
    font-size: 3em;
    text-align: center;
    font-weight: 900;
    font-family: 'EB Garamond', serif;
    color: white;
    
}


.triple-flex-parent {
    display: flex;

}

.ratu-montavimas-parent {
    flex-basis: 33.3%;
    padding: 1em;
    
}

.ratu-montavimas-parent > h1 , p {
    color: white;

}

.ratu-montavimas-parent>h1 {
    text-align: center;
    padding: 0.6em 0;
    font-size: 2rem;
    text-transform: uppercase;

}

.ratu-montavimas-parent> p {
    letter-spacing: 2px;
    width: 100%;
    font-size: 1.2em;
    line-height: 1.2;
    text-align: center;
    background-color: #0000007a;
    border: 1px solid white;
    padding: 1em 0.5em;
    border-radius: 30px;
    font-family: 'Hind Siliguri', sans-serif;
}



/* finished */


/* kainodaros section */



.kainodara-section {
    min-width:  90%;
    margin: auto;

    padding: 2em 1em;

}


.kainodara-h1 {
        font-size: 3em;
        text-align: center;
        font-weight: 900;
        font-family: 'EB Garamond', serif;
        color: white;
        text-transform: uppercase;
        padding-top: 2em;
}


.ratu-parent {
    display: flex;

}

.ikainiai-p{
    font-family: 'Hind Siliguri', sans-serif;
    padding: 1em ;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;

}

.left-ratai, .right-ratai {
    flex-basis: 50%;
    margin: 0 0.3em;
    color: white;
    font-family: 'Hind Siliguri', sans-serif;
    background-color: #0000007a;
    border: 1px solid white;
    border-radius: 30px;
}


.left-ratai > p{
    text-align: center;
        padding: 0.4em 0;
        font-size: 1.5em;
        letter-spacing: 1px;
}
.right-ratai > p {
    text-align: center;
    padding: 0.4em 0;
    font-size: 1.5em;
    letter-spacing: 1px;
}


/* finished su kainodara */

/* vieta */

.vieta-section {
        min-width: 90%;
            margin: auto;
        
            padding: 2em 1em;
}

.vieta-h1 {
             font-size: 3em;
            text-align: center;
            font-weight: 900;
            font-family: 'EB Garamond', serif;
            color: white;
            text-transform: uppercase;
            padding: 1em;

}

.vieta-parent {
    display: flex;
}

.picture-left > img {
    border-radius: 10px;
    width: 60%;

}



.picture-left {
    width: 70%;
    text-align: center;
    margin: auto;
}


.picture-left  > h3{
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 1.5em;
    color: white;
    padding-bottom: 1em;
}


.fa-arrow-up {
    position:fixed;
    bottom: 10%;
    right: 4%;
    font-size: 2em;
    color: white;
    border: 3px solid white;
    background-color: black;
    padding: 0.2em 0.3em;
    border-radius: 20px;
}
/* done */

.black-bottom {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    background-color: black;
    padding: 0.1em 0;
}

@media (max-width: 1200px){

    .parent-of-details {
        font-size: 1.3rem;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .details-first-child {
        text-align: center;
    }

    .parent-of-details > span{
        padding: 0.2em;
        font-weight: 800;
    }

    .ul-off {
        display: none;
        
    }

    .ul-on {
        position: absolute;
        top: 19.4%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.952);
        flex-direction: column;
        min-height: 90vh;
        z-index: 3;
        border: 1px solid red;
        

    }
    nav>.fa-bars {
        display: block;
        position: relative;
        z-index: 100;
        border: 2px solid black;
        font-size: 2.2rem;
        width: 100%;
        padding: 0.2em 0;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.123);
        }


    .triple-flex-parent {
        display: block;
        font-size: 0.8rem;
        
    }
    .img-slider > img {
        display: flex;
        width: 40%;
    } 
    .img-slider > button{
        display: none;
    } 
    .ratu-parent {
        display: block;
    }
     .paslaugos-main > .paslauga-top-h1 {
        font-size: 2em;
    }
    .ratu-montavimas-parent > .paslaugos-h1 {
        font-size: 2em;
    }
    
    .kainodara-h1 {
        font-size: 2em;
    }
    .vieta-h1 {
        font-size: 2.2em;
    }
    .fa-arrow-up {
        display: none;
    }
        .picture-left>img {
            border-radius: 10px;
            width: 100%;
    
        }
    
}

